<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <aspNetCore processPath="dotnet" arguments=".\WaterLog_Backend.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
    </system.webServer>
  </location>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />

      <add name="aspNetCore"
           path="*"
           verb="*"
           modules="AspNetCoreModule"
           resourceType="Unspecified" />
      <remove name="WebDAV" />
    </handlers>
  </system.webServer>
</configuration>
